<div class="contenedor-general">
  <div class="datos-modif">
    <div class="contenedor-inputs">
      <div class="titulo">
        <h4>Datos del cliente</h4>
      </div>

      <div class="seccion">
        <input
          type="text"
          class="form-control id-cliente"
          placeholder="{{ datoSeleccionado.idcliente }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />

        <input
          type="text"
          class="form-control numero"
          placeholder="{{ datoSeleccionado.numero }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control alias"
          placeholder="{{ datoSeleccionado.alias }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control nombre"
          placeholder="{{ datoSeleccionado.nombre }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="seccion">
        <input
          type="text"
          class="form-control email"
          placeholder="{{ datoSeleccionado.email }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />

        <input
          type="text"
          class="form-control poblacion"
          placeholder="{{ datoSeleccionado.poblacion }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="seccion">
        <input
          type="text"
          class="form-control documento"
          placeholder="{{ datoSeleccionado.documento }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control direccion"
          placeholder="{{ datoSeleccionado.direccion }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />

        <input
          type="text"
          class="form-control raz-social"
          placeholder="{{ datoSeleccionado.razon_social }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control provincia"
          placeholder="{{ datoSeleccionado.provincia }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="seccion">
        <input
          type="text"
          class="form-control cp"
          placeholder="{{ datoSeleccionado.cp }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control localidad"
          placeholder="{{ datoSeleccionado.localidad }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control telefono"
          placeholder="{{ datoSeleccionado.telefono }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <input
          type="text"
          class="form-control comercial"
          placeholder="{{ datoSeleccionado.comercial }}"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        >
      </div>
    </div>
    <div class="contenedor-datos">
      <div class="titulo">
        <h4>Notas</h4>
      </div>
      <textarea
        class="form-control notas"
        placeholder="{{ datoSeleccionado.notas }}"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      ></textarea>
      <div class="botones">
        <button type="button" class="btn btn-success">Crear  👤</button>
        <button type="button" class="btn btn-warning">Modificar  🖌 </button>
        <button type="button" class="btn btn-danger">Borrar  🗑</button>
      </div>
    </div>
  </div>

  <div class="contenedor-tabla">
    <div class="tabla">
      <table class="contenido-tabla">
        <thead>
          <tr class="cabecera-tabla">
            <th class="numero">Numero</th>
            <th class="alias">Alias</th>
            <th class="direccion">Direccion</th>

            <th class="provincia">Provincia</th>
            <th class="telefono">Telefono</th>
            <th class="comercial">Comercial</th>
            <th class="documento">Documento</th>
            <th class="email">Email</th>
          </tr>
        </thead>
        <tbody id="cuerpo_tabla">
          <tr
            *ngFor="let item of miServ.clientes |slice:(currentPage-1)*numero_elementos: currentPage*numero_elementos ; let x = index"
            class="clientes-api"
            (click)="mostrarSeleccionado(x)"
          >
            <td class="centro">{{ item.numero }}</td>
            <td class="text-truncate">{{ item.alias }}</td>
            <td class="text-truncate">{{ item.direccion }}</td>
            <td>{{ item.provincia }}</td>
            <td>{{ item.telefono }}</td>
            <td>{{ item.comercial }}</td>
            <td>{{ item.documento }}</td>
            <td>{{ item.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginacion">
      <pagination [totalItems]="miServ.clientes.length" [itemsPerPage]=numero_elementos [maxSize]="7" [(ngModel)]="currentPage"></pagination>
    </div>
  </div>
</div>
