.contenedor-general {
  height: 100%;
  display: grid;
  grid-template-rows: 350px 1fr;
  grid-template-areas: "datosMod" "contTabla";
  .titulo {
    text-align: center;
  }
  .datos-modif {
    height: 100%;
    grid-area: datosMod;
    display: grid;
    grid-template-columns: 900px 1fr;
    grid-template-areas: "inputs datos";
    align-items: center;

    .contenedor-inputs {
      height: 100%;
      grid-area: inputs;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      gap: 0.5rem;

      

      .seccion {
        display: flex;
        gap: 0.5rem;
        width: 100%;

        .id-cliente{
          width: 75px;
        }
        .numero{
          width: 75px;
        }
        .alias{
          width: 270px;
        }
        .nombre{
          width: 400px;
        }
        .email{
          width: 375px;
        }
        
        .documento{
          width: 125px;
        }
        .direccion{
          width: 400px;
        }
        .raz-social{
          width: 325px;
        }
        .cp{
          width: 100px;
        }
        .localidad{
          width: 250px;
        }
      }
    }

    .contenedor-datos {
      padding: 0.5rem;
      height: 100%;
      grid-area: datos;
      gap: 0.5rem;
      
      .botones{
        display: grid;
        margin-top: 20px;
        gap:40px;
        justify-content: center;
        grid-template-columns: 150px 150px 150px;
      }
    }
  }
  textarea {
    height: 100px;
    margin-top: 15px;
    max-height: 120px;
    min-height: 120px;
    overflow-y: auto;
    font-family: "Comic Sans MS";
    background-color: #ffd255;
  }
  .contenedor-tabla {
    height: 100%;

    grid-area: contTabla;
    display: grid;
    grid-template-rows: 1fr 40px;
    grid-template-areas: "tabla" "pag";
    overflow-y: hidden;

    .tabla {
      height: 100%;
      
      min-width: 1398px;
      padding: 5px;
      grid-area: tabla;

      overflow-y: hidden;
      overflow-x: auto;
      .contenido-tabla {
        border: 1px;
        height: 100%;
        
        
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        
        tr{
          display: grid;
          grid-template-columns: 100px 200px 300px 150px 100px 100px 100px 1fr;
          
          th, td{
            display: flex;
            justify-content: left;
            padding-left: 5px;
          }
        }
       thead {
          border-bottom: 2px gray solid;
          text-align: center;
          height: 40px;
          
          
        }
        tbody{
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
        }
        .clientes-api {
          
          height: 30px;
          .centro {
            text-align: center;
          }
        }
        .clientes-api:hover {
          background-color: rgba(252, 218, 177, 0.671);
        }
      }
    }
    .paginacion {
      height: 100%;
      grid-area: pag;
      border-top: 2px gray solid;
    }
  }
}
