<div class="contenedor-general">
    <div class="datos-modif">
        <div class="contenedor-inputs">
                <h3>Inputs para modificar datos</h3>
        </div>
        <div class="contenedor-datos">
            <h3>Datos del cliente seleccionado</h3>
        </div>
    </div>
    <div class="contenedor-tabla">
        <div class="tabla">
            <h3>Tabla de clientes</h3>
        </div>
        <div class="contenedor-paginacion">
            <p>paginacion</p>
        </div>
    </div>
</div>