<div class="contendor-principal">
  <div class="contenedor-inputs">
    <label for="cliente">Cliente:</label>
    <div class="contenedor-cliente">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Cliente"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          #Name
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-danger vaciar"
            type="button"
            (click)="Name.value = ''"
          >
            X
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
